/* .swiper-button-prev::after{
  color: #F48503;
  margin-right: 1rem;
}

.swiper-button-next::after{
  color: #F48503;
  margin-left: 1rem;
} */

.swiper-button-disabled {
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.ant-spin-dot-item {
  background-color: #F48503 !important;
}
